@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #e4e5ea;
  --color-blue: #4077f3;
  --color-gray: #656566;
  --color-black: #0e1014;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

.body {
  background-image: url("./assets/svg/Desktop.svg");
  color: var(--color-primary);
  font-family: "Inter", sans-serif;
}

.header,
.main,
.footer {
  max-width: 1172px;
  margin: 0 auto;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.icon_telegramm {
  background-image: url("./assets/svg/telegramm.svg");
}

.icon_viber {
  background-image: url("./assets/svg/viber.svg");
}

.icon_whatsapp {
  background-image: url("./assets/svg/whatsapp.svg");
}

.social__item {
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
}

.text-gradient_orange {
  background-image: linear-gradient(to right, #fcb045, #ff3f78);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

@media (max-width: 430px) {
  .social__item {
    width: 24px;
    height: 24px;
  }
}

/* HEADER */

.header {
  padding-top: 57px;
  font-size: 16px;
  font-weight: 500;
}

.header__wrapper {
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__navigation {
  display: flex;
}

.logo {
  margin-right: 52px;
  max-width: 140px;
  display: block;
}

.logo__icon {
  background-image: url("./assets/img/logo_welbex.png");
  width: 140px;
  height: 24px;
  margin-bottom: 10px;
}

.logo__descript {
  font-size: 10px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  column-gap: 30px;
  margin-top: 3px;
}

.social {
  display: flex;
  margin-top: 3px;
}

.social__phone {
  margin-right: 47px;
}

.social__media {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 30px;
}

@media (max-width: 960px) {
  .logo {
    display: none;
  }

  .social__phone {
    margin-right: 25px;
  }
}

@media (max-width: 740px) {
  .nav {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .header {
    background-color: var(--color-black);
    padding: 20px 0;
  }

  .header__wrapper {
    justify-content: center;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  .nav__item:last-child {
    display: none;
  }

  .social {
    display: none;
  }
}

@media (max-width: 360px) {
  .header {
    font-size: 12px;
    text-transform: uppercase;
  }

  .nav {
    column-gap: 16px;
  }
}

/* MAIN */

.main {
  padding: 90px 0 70px 0;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  flex-wrap: wrap;
}

@media (max-width: 665px) {
  .main__wrapper {
    justify-content: center;
    row-gap: 30px;
  }
}

@media (max-width: 420px) {
  .main {
    background-image: url("./assets/svg/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 58px 0;
  }

  .main__wrapper {
    justify-content: unset;
    row-gap: 28px;
    background-image: url("./assets/svg/noise.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* LEFT SECTION */

.intro {
  max-width: 362px;
}

.intro__head {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

.intro__head_span {
  font-weight: 900;
}

.intro__descript {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* RIGHT SECTION */

.info > * {
  text-align: right;
}

.info__head {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.info__head_span {
  letter-spacing: 0.3px;
  font-weight: 900;
}

.info__header {
  margin: 18px 0 42px 0;
}

.info__list_mobile {
  display: none;
}

.info__item_mobile {
  position: relative;
}

.info__item_mobile::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-image: linear-gradient(to right, #fcb045, #ff3f78);
}

.info__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 34px;
  margin-bottom: 63px;
}

.info__item p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.info__button {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  padding: 22px 33px;
  background-color: var(--color-blue);
  float: right;
  color: inherit;
}

@media (max-width: 665px) {
  .info > * {
    text-align: center;
  }

  .intro > * {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .info > * {
    text-align: left;
  }

  .intro > * {
    text-align: left;
  }

  .intro__head {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .info__button {
    display: none;
  }

  .info__list {
    display: none;
  }

  .info__head {
    margin-bottom: 20px;
    letter-spacing: 0px;
  }

  .info__head_span {
    text-transform: lowercase;
    letter-spacing: 0px;
  }

  .info__list_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 13px;
    text-transform: uppercase;
    row-gap: 15px;
    margin-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .info__item_mobile:nth-of-type(even) {
    margin-left: -2px;
  }
}

/* FOOTER */

.footer {
  padding: 55px 0 20px 0;
}

.footer__wrapper {
  margin: 0 15px;
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 701px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.footer__double-section {
  display: flex;
  column-gap: 52px;
}

.footer__head {
  color: var(--color-gray);
  font-size: 14px;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer__list-item-mob {
  display: none;
}

.contacts {
  text-align: right;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.contacts__media {
  justify-content: flex-end;
  column-gap: 10px;
}

.footer__license {
  margin-top: 33px;
  text-align: right;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footer__license p {
  margin-bottom: 5px;
}

.footer__license-link {
  text-decoration: underline;
}

.contacts__item {
  font-size: 16px;
}

@media (max-width: 700px) {
  .footer__company {
    margin-bottom: 30px;
  }
}

@media (max-width: 430px) {
  .footer {
    padding: 40px 0 60px 0;
    background-color: var(--color-black);
  }

  .footer__sections {
    flex-wrap: wrap;
  }

  .footer__menu {
    margin-bottom: 30px;
  }

  .footer__double-section {
    column-gap: 45px;
  }

  .footer__head {
    font-size: 12px;
  }

  .footer__list {
    row-gap: 10.5px;
  }

  .footer__list li {
    font-size: 14px;
    font-weight: 300;
  }

  .footer__list-item-mob {
    display: block;
  }

  .footer__list-item-desc {
    display: none;
  }

  .contacts {
    text-align: left;
  }

  .contacts__list {
    align-items: flex-start;
    row-gap: 7px;
  }

  .contacts__item:last-child {
    font-size: 14px;
  }

  .footer__license {
    text-align: left;
    margin-top: 52px;
  }
}
